[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gfcanalysis"]
	path = gfcanalysis
	url = https://github.com/azvoleff/gfcanalysis
[submodule "glcm"]
	path = glcm
	url = https://github.com/azvoleff/glcm
